.zoom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.custom-carousel-btn {
  background: none !important;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 60px;
  height: 60px;
  font-size: 32px;
  font-weight: bold;
  color: blue;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.custom-carousel-btn:hover {
  opacity: 1;
  color: darkblue;
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.custom-icon {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}
