.side {
  border-left: 4px solid #198754;
  border-radius: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.icon-wrapper {
  font-size: 2.5rem;
  color: #198754;
}

.achievement-icon {
  transition: transform 0.3s ease;
}

.achievement-card:hover .achievement-icon {
  transform: rotate(5deg) scale(1.1);
}
