.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.hero-title {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.typed-div {
  margin-bottom: 20px;
}

.typed {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #1e90ff;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #666;
  max-width: 600px;
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(45deg, #ff7b9b, #ff8c00, #00c6ff);
  animation: border-animation 6s ease infinite, border-radius-animation 6s ease infinite;
}

.img-fluid {
  width: auto;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
@keyframes border-animation {
  0% {
    background-position: 0% 50%;
  }
  10% {
    background-position: 30% 60%;
  }
  25% {
    background-position: 50% 70%;
  }
  40% {
    background-position: 75% 80%;
  }
  60% {
    background-position: 50% 40%;
  }
  75% {
    background-position: 25% 20%;
  }
  90% {
    background-position: 10% 30%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes border-radius-animation {
  0% {
    border-radius: 50%;
  }
  10% {
    border-radius: 45% 65% 70% 35%;
  }
  25% {
    border-radius: 55% 35% 50% 70%;
  }
  35% {
    border-radius: 60% 40% 30% 80%;
  }
  50% {
    border-radius: 65% 60% 40% 50%;
  }
  60% {
    border-radius: 55% 50% 60% 40%;
  }
  85% {
    border-radius: 70% 40% 60% 30%;
  }
  100% {
    border-radius: 50%;
  }
}